
* {
  margin: 0;
  padding: 0;
}

.header {
  background: #83C2FD;
  padding-inline: 16px;
  border-bottom: 2px solid #000;
}

.nav {
  max-width: 1280px;
  height: 120px;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-container {
  position: relative;
  z-index: 1;
}

h2 {
  color: #ff9900;
  font-size: 36px;
  text-align: center;
}

p {
  color: #000;
  font-size: 23px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px; 
}

.button-container button {
  background-color: #4A86E8;
  color: #000;
  border: 25;
  border-radius: 10px;
  padding: 15px 90px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 14px;
}

.button-container button:hover {
  background-color: #666;
}
.logo img {
  max-width: 22%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: auto;
  border: 2px solid #000;
  border-radius: 22px;
  
}
.logo2 img {
  max-width: 40%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: auto;
  border: 2px solid #000;
  border-radius: 22px;
  
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-list a {
  font-size: 18px;
  color: #fff;
  padding-block: 16px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: calc(100vh - 70px);
}


.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}
.clash{
  font-size: 85px;
  text-transform: uppercase;

  background: linear-gradient(45deg, rgba(131,194,253,1) 0%, rgba(110,172,245,1) 22%, rgba(74,134,232,1) 47%, rgba(23,96,215,1) 71%, rgba(6,29,66,1) 100%);
  background-size: 400% 100%;
  animation: degrade 3s linear infinite alternate;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  outline: none;
}

@keyframes degrade {
  0%{
      background-position-x: 0%;
  }

  100%{
      background-position: 400%;
  }
}

@media (max-width: 950px) {
  .hamburger {
    display: block;
    z-index: 200;
  }

  .nav.active .button-container button {
    padding: 35px 108px;
    font-size: 40px;
  }
  .logo img {
    max-width: 14%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    border: 2px solid #000;
    border-radius: 22px;
    
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #83C2FD;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;

    pointer-events: none;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  /* Estilos ativos */

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
